{% extends 'app/layout.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <h1>All Artists</h1>
    </div>
    <div class="row justify-content-center">
            <a href="?with=0-9" class="badge badge-light" style="font-size: 1rem">
                0-9
            </a>
        {% for letter in alphabets %}
            <a href="?with={{letter}}" class="badge badge-light" style="font-size: 1rem">
            {{ letter }}
            </a>
        {% endfor %}
    </div>
    <div class="row flex-column mt-5">
        <div class="col-3">
            <div class="container">
                {% for artist in artists %}
                    <a href="{% url 'artist' artist.id %}" class="nav-item nav-link btn btn-light">{{ artist }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}